{{#ember-wormhole to=containerElementId}}
  <div class="ember-magellan-overlay" {{action "close"}}></div>

  <div class="ember-magellan-panel">
    <header>
      <nav>
        <ul>
          <li><button class="previous" {{action "previous"}}><i></i></button></li>
          <li><button class="next" {{action "next"}}><i></i></button></li>
        </ul>
      </nav>

      <ul class="actions">
        <li><button class="close" {{action "close"}}><i></i></button></li>
      </ul>
    </header>

    <div class="ember-magellan-content">
      {{yield model this}}
    </div>
  </div>
{{/ember-wormhole}}
